.new-person {
    margin: 40px 0;
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.new-person a  {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

table {
    width: 100%;
  }

  .button-actions {
    display: flex;
    gap: 15px;
  }

  .button-actions button, table a {
    background: transparent;
    cursor: pointer;
    font-size: 13px;
    text-transform: uppercase;
    padding: 4px;
  }

  table a {
   border: 1px solid lightseagreen;
   font-weight: 500;
  }

  table .btn {
    border: 1px solid red;
   }

  
  table a:hover , table .btn:hover {
    background-color: #CCCCCC;
   }

